@model TF_Base.Models.Reparacion

@{
    ViewBag.Title = "Modificar";
}

<h2 class="text-center">Modificar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="text-center">
        <legend>Reparacion</legend>
        @Html.HiddenFor(model => model.idReparacion)

        <div class="editor-label">
            @Html.LabelFor(model => model.idRepuesto, "Repuesto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idRepuesto", "--SELECCION REPUESTO--")<br />
            @Html.ValidationMessageFor(model => model.idRepuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantRepuesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantRepuesto)<br />
            @Html.ValidationMessageFor(model => model.cantRepuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantHoras)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantHoras)<br />
            @Html.ValidationMessageFor(model => model.cantHoras)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idOrden, "Orden")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idOrden", "--SELECCIONE LA ORDEN--")<br />
            @Html.ValidationMessageFor(model => model.idOrden)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idUsuario, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idUsuario", "--SELECCIONE ENCARGADO--")<br />
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <p>
            <input class="btn btn-outline-success" type="submit" value="Guardar" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
